<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Club League Tracker</title>
    </head>
    <body>
        <h1>About this site</h1>
        <p>This site is intended to be used for the IX Electron club.</p>
        <p>It is developed and maintained by a sole developer so functionality is limited. <br>
            For feature requests, bugs, comments, contact me on Discord. You know who I am.</p>
        <p>This website was born because BS currently does not provide an easy way to track club participation. <br>
            It does not even do so through their official API since it doesn't provide club league data.
        </p>
        <p>
            The goal of this website is to help club leadership keep track of club member activity <br>
            throughout club league in a conventient and simple way.
        </p>
        <p>This website is intended to be temporary <br>
            until BS decides to actually implement a club league API. <br>
        </p>
    </body>
    <hr>
    <footer>
        <br>
        <nav>
        <a href="{{ url_for('site_home') }}">Home</a>
    </nav>
    </footer>
</html>
