<html>
    <title>Club League Tracker</title>
    <h1>Club Members - IX Electron</h1>
    <p>Click a name to view member details</p>
    <br>
    <body>
        <table cellspacing="3" cellpadding="5" bgcolor="#000000">
            <thead>
                <tr bgcolor="#ffffff">
                    <th>No.</th>
                    <th>Tag</th>
                    <th>ClubTag</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Trophies</th>
                </tr>
            </thead>
            <tbody>
                {% for member in member_list %}
                <tr bgcolor="#ffffff">
                    <td>{{ loop.index }}</td>
                    <td>{{ member.tag }}</td>
                    <td>{{ member.club_tag }}</td>
                    <td><a href="{{ url_for('show_member_details', tag=member.tag[1:]) }}">{{ member.name }}</a></td>
                    <td>{{ member.role }}</td>
                    <td>{{ member.trophies }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
    <br><hr>
    <footer>
        <br>
        <nav>
        <a href="{{ url_for('site_home') }}">Home</a> | 
        <a href="{{ url_for('site_club_members_search') }}">Looking for other clubs?</a>
    </nav>
    </footer>
</html>