<html>
    <title>Club League Tracker</title>
    <h1>Member Details</h1>
    <body>
        <ul>
            <li>Tag     : {{ member.tag }}</li>
            <li>Name    : {{ member.name }}</li>
            <li>Role    : {{ member.role }}</li>
            <li>Trophies: {{ member.trophies }}</li>
            <br>
            <li>Member Since  : {{ member_details.start_date }}</li>
            <li>Departure Date: {{ member_details.departure_date }}</li>
            <br>
            <li>3v3 Victories : {{ member_details.victories_trios }}</li>
            <li>Duo Victories : {{ member_details.victories_duos }}</li>
            <li>Solo Victories: {{ member_details.victories_solo }}</li>
        </ul>
        <br><hr>
        <br><h2>Club League Games</h2><br>
        {% if len(cl_season_games) > 0 %}
            <p>These are current season's club league games for {{ member.name }}:</p>
            <br><br>
            <table cellspacing="3" cellpadding="5" bgcolor="#000000">
                <thead>
                    <tr bgcolor="#ffffff">
                        <th>Season ID</th>
                        <th>Season Code</th>
                        <th>Game Date</th>
                        <th>Game Mode</th>
                        <th>Game Map</th>
                        <th>Result</th>
                        <th>Trophies</th>
                        <th>Member Tag</th>
                        <th>Member Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in cl_season_games %}
                    <tr bgcolor="#ffffff">
                        <td>{{ season.id }}</td>
                        <td>{{ season.week }}</td>
                        <td>{{ game.game_date }}</td>
                        <td>{{ game.game_mode }}</td>
                        <td>{{ game.game_map }}</td>
                        <td>{{ game.game_result }}</td>
                        <td>{{ game.game_trophies }}</td>
                        <td>{{ game.member_tag }}</td>
                        <td>{{ game.member_name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
        <p>No club league games found for {{ member.name }} in season {{ season.week }}</p>
        <br><br>
        <!-- TODO: button to see prevous seasons -->
        <hr><br>
    <footer>
        <nav>
        <a href="{{ url_for('site_home') }}">Home</a>
    </nav>
    </footer>
</html>